/* add your CSS here */

#card {
    font-family: 'Roboto', sans-serif;
    background-color: pink;
    width: 300px;
    max-width: 100%;
    border: 3px solid greenyellow;
   /* box-shadow: 3px 5px yellowgreen;*/
    padding: 12px;
    margin: 0 auto;
}

h3 {
    font-weight: bold;
    font-size: 25px;
    text-align: left;
    padding: 5px;
    width: 290px;
}
img {
    width: 300px;
    height: 200px;
    margin-bottom: 10px;
}
.intro {
    width: 275px;
    border: 3px solid yellowgreen;
    padding: 10px;
}

#intro {
    font-style: italic;
}

.facts {
    list-style-type: none;
    padding: 0px;
}
.interesting_fact {
    font-weight: bold;
}